.login .row{
  /*display: flex;
  flex-direction: row;*/
      display: inline-block;
      justify-content: center;


}
.login .row1{
  /*display: flex;
  flex-direction: row;*/
      display: inline-block;
      justify-content: center;
      
}

.login{
  display: flex;
 box-sizing: border-box;
 width: 300;
  
}


.row{
   display: inline-block;
    float:left;
    background-repeat: no-repeat;
    min-height: 100%;
    }

.row-right{
  display: inline-block;
    float:left; 
    overflow:hidden; 
   
    }

/*.container {
  height: 80px;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}*/
/*
.left {
  float: left;
  width: 200px;
  height: 100%;
  background-color: #17ad37;
}

.right {
  width: 100%;
  height: 100%;
  background-color: #969696;
}*/

.rightsidebar 
{ 
background:blue; 
height: 608px; 
width: 300; 
float:right; 
display: inline-block;
} 

.content 
{ 
width: auto; 
margin:0 auto;
/*background:yellow;*/
display: inline-block;
}


.leftN {
    overflow: hidden;
}

.rightN {
    justify-content: center;
    float: right;
    width: 250px;
    min-height: 50;
    border-top: 80px solid white;
}

@media only screen and (max-width: 768px) {
    #hideDiv {
        display:none
    }
     /*#centerDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }*/
}


